Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Andrew Lonsdale <andrew.lonsdale@lonsbio.com.au>
Benjamin D. Best <bbest@nceas.ucsb.edu>
Bernhard Konrad <bernhard.konrad@gmail.com>
Bill Mills <mills.wj@gmail.com>
Conrad Leonard <conrad.leonard@hotmail.com>
David J. Harris <harry491@gmail.com> <davharris@users.noreply.github.com>
Erin Becker <erinstellabecker@gmail.com>
Evan P. Williamson <evanpeterw@gmail.com>
François Michonneau <francois.michonneau@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Hannah Kronenberg <hannah.kronenberg@gmail.com>
Helen Lindsay <helen.lindsay@uzh.ch>
Henry Senyondo <henrykironde@gmail.com>
Ivan Gonzalez <iglpdc@gmail.com> <iglpdc@users.noreply.github.com>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Jeffrey Arnold <jeffrey.arnold@gmail.com>
Jeffrey Oliver <jcoliver@email.arizona.edu>
Jeffrey Oliver <jeffrey.oliver@science.oregonstate.edu>
Katherine Koziar <katherine.koziar@ucr.edu>
Kathe Todd-Brown <ktoddbrown@gmail.com>
Kieran Samuk <ksamuk@gmail.com>
Kyriakos Chatzidimitriou <kyrcha@gmail.com>
Lachlan Deer <lachlan.deer@uzh.ch>
Lisa Breckels <lisa.m.simp@gmail.com>
Luke W. Johnston <lwjohnst@gmail.com> <lwjohnst86@users.noreply.github.com>
Martin J. Hadley <martinjohnhadley@gmail.com>
Mateusz Kuzak <mateusz.kuzak@gmail.com>
Maxim Belkin <maxim.belkin@gmail.com> <maxim-belkin@users.noreply.github.com>
Mik Black <blackmik@gmail.com>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Noel Faux <nfaux@unimelb.edu.au> <noel.faux@gmail.com>
Nora Mitchell <nora.c.mitchell@gmail.com>
Pip Griffin <pip.griffin@gmail.com>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Rebecca Lange <becca.lange84@gmail.com>
Rémi Emonet <remi@heeere.com> <remi.emonet@reverse--com.heeere>
Rémi Emonet <remi@heeere.com> <twitwi@users.noreply.github.com>
Robert Bagchi <robert.bagchi@uconn.edu>
Robert McDonald <rmcd1024@gmail.com>
Robert Syme <rob.syme@gmail.com>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
Vince Polito <vince4223@gmail.com>
Willem Ligtenberg <willem@wligtenberg.nl>
Yuka Takemon <yuka.takemon@gmail.com>
zz-Daniel <clone@myself.com>
