James Allen <jamesallen0108@gmail.com>
Jeffrey Arnold <jeffrey.arnold@gmail.com>
Pete Bachant <petebachant@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Trevor Bekolay <tbekolay@gmail.com>
Mik Black <blackmik@gmail.com>
John Blischak <jdblischak@gmail.com>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Karl Broman <kbroman@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Kyriakos Chatzidimitriou <kyrcha@gmail.com>
Remi Daigle <remi.daigle@dal.ca>
Harriet Dashnow <h.dashnow@gmail.com>
Jonah Duckles <jonah@duckles.org>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
Noel Faux <nfaux@unimelb.edu.au> <noel.faux@gmail.com>
Pip Griffin <pip.griffin@gmail.com>
Michael Hansen <hansen.mike@gmail.com>
Liz Ing-Simmons <liz.ingsimmons@gmail.com>
David J. Harris <harry491@gmail.com>
Mike Jackson <michaelj@epcc.ed.ac.uk>
W. Trevor King <wking@tremily.us>
Bernhard Konrad <bernhard.konrad@gmail.com>
Mateusz Kuzak <mateusz.kuzak@gmail.com>
Andrew MacDonald <a.a.m.macdonald@gmail.com>
Fernando Mayer <fernandomayer@gmail.com>
François Michonneau <francois.michonneau@gmail.com>
James Mickley <mickley@gmail.com>
Bill Mills <mills.wj@gmail.com>
Nora Mitchell <nora.c.mitchell@gmail.com>
Tim Moore <timothy.e.moore@uconn.edu>
Elise Morrison <elisesmorrison@gmail.com>
Lex Nederbragt <lex.nederbragt@bio.uio.no>
Aaron O'Leary <aaron.oleary@gmail.com>
Jeffrey Oliver <jcoliver@email.arizona.edu>
Braden Owsley <braden.owsley@ou.edu>
Sam Penrose <spenrose@mozilla.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Diego Rabatone Oliveira <diraol@diraol.eng.br>
Timothy Rice <t.rice@ms.unimelb.edu.au>
Scott Ritchie <sritchie73@gmail.com>
Pat Schloss <pschloss@umich.edu>
Henry Senyondo <henrykironde@gmail.com>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Clare Sloggett <claresloggett@gmail.com>
Ashwin Srinath <atrikut@clemson.edu>
Marc Sze <marcasze@gmail.com>
Andy Teucher <andy.teucher@gmail.com>
Drew Tyre <atyre2@unl.edu>
Giulio Valentino Dalla Riva <gvdr@zoology.ubc.ca>
Thea Van Rossum <thea.van.rossum@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Kara Woo <woo.kara@gmail.com>
Tom Wright <tom@maladmin.com>
Naupaka Zimmerman <naupaka@gmail.com>
