Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Ashwin Srinath <ashwinsrnth@gmail.com> <atrikut@clemson.edu>
Benjamin D. Best <bbest@nceas.ucsb.edu>
Bernhard Konrad <bernhard.konrad@gmail.com>
Bill Mills <mills.wj@gmail.com>
Clare Sloggett <claresloggett@gmail.com>
David J. Harris <harry491@gmail.com> <davharris@users.noreply.github.com>
Evan P. Williamson <evanpeterw@gmail.com>
François Michonneau <francois.michonneau@gmail.com>
François Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Helen Lindsay <helen.lindsay@uzh.ch>
Henry Senyondo <henrykironde@gmail.com>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Jeffrey Arnold <jeffrey.arnold@gmail.com>
Jeffrey Oliver <jcoliver@email.arizona.edu>
Kate Hertweck <k8hertweck@gmail.com>
Kathe Todd-Brown <ktoddbrown@gmail.com>
Kieran Samuk <ksamuk@gmail.com>
Kyriakos Chatzidimitriou <kyrcha@gmail.com>
Lachlan Deer <lachlan.deer@uzh.ch>
Lisa Breckels <lisa.m.simp@gmail.com>
Mateusz Kuzak <mateusz.kuzak@gmail.com>
Mik Black <blackmik@gmail.com>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Noel Faux <nfaux@unimelb.edu.au> <noel.faux@gmail.com>
Nora Mitchell <nora.c.mitchell@gmail.com>
Pip Griffin <pip.griffin@gmail.com>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Rebecca Lange <becca.lange84@gmail.com>
Rémi Emonet <remi@heeere.com> <remi.emonet@reverse--com.heeere>
Rémi Emonet <remi@heeere.com> <twitwi@users.noreply.github.com>
Robert Bagchi <robert.bagchi@uconn.edu>
Robert McDonald <rmcd1024@gmail.com>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
Tom Wright <tom@maladmin.com> <Tom Wright>
Willem Ligtenberg <willem@wligtenberg.nl>
